@import "./rose-pine.css";

/* Applies to the whole bar */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
  min-height: 0;
  background: transparent;
  border: none;
  text-shadow: none;
}

window#waybar {
}

#workspaces {
}

#workspaces button {
  color: @base;
  background: rgba(235, 188, 186, 0.7);
  border-radius: 34px;
  margin: 0px 2px 0px 0px;
  border: 1px solid @rose;
  transition:
    padding-left 0.3s ease-in-out,
    padding-right 0.3s ease-in-out,
    border-radius 0.5s linear;
}

#workspaces button.active {
  /* Bar was shifting if i just used padding (idk why) */
  padding-left: 24px;
  padding-right: 24px;
}

#workspaces button:hover {
  border-radius: 8px;
}

tooltip {
  background: @base;
  border: 1px solid @highlight-high;
}

tooltip label {
  color: @text;
}
